
* {
  box-sizing: border-box;
}
body {
  margin-left: 40px ;
  margin-right: 20px ;
}

h2 {
  font-size: 27px;
  font-family: Cursive;
  text-align: center;
  color: rgb(37, 37, 37);
  margin-bottom: 30px;
}

p {
  padding: 10px 5px 10px 5px;
  font-family:Cursive;
  font-size: 16px;
  position: relative;
  color:  rgb(37,37,37);
}

.section { 
  background-color: rgb(153, 153, 153);
    border: 2px solid black;
    margin-top: 20px; 
    margin-right: 20px; 
    padding: 3px;
    text-align: justify;
    position: relative;
 }

span {
  font-size: 20px;
  width: 150px;
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  float: right; top :0; right: 0; margin: 0;
  position: absolute;
}
#item1 {
  border: 1px solid black;
  border-top: 0px solid black;
  border-right: 0px solid black;
  background-color: rgb(213, 152, 152);
  color: rgb(37, 37, 37);

}
#item2  {
  border: 1px solid black;
  border-top: 0px solid black;
  border-right: 0px solid black;
  background-color: rgb(193, 69, 67);
  color: rgb(250, 250, 250);

}
#item3{
  border: 1px solid black;
  border-top: 0px solid black;
  border-right: 0px solid black;
  background-color: rgb(229, 209, 152);
  color: rgb(37, 37, 37);
}
}

.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

